.list-container {
  flex: 70%;
  position: relative;

  .result {
    margin-bottom: 1rem;
  }
  .choose {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    border: 0.1rem solid grey;
    border-radius: 1.5rem;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: rgb(235, 234, 234);
    }
  }
  .sort-list {
    position: absolute;
    background-color: white;
    top: 10rem;
    left: 0rem;
    border-radius: 1rem;
    z-index: 0.5rem;
    box-shadow: 0 0 1rem 0.2rem rgb(235, 234, 234);
    overflow: hidden;
    cursor: pointer;

    .slist {
      display: flex;
      flex-direction: column;
      .item {
        border-radius: inherit;
        padding: 1rem;

        &:hover {
          background-color: rgb(235, 234, 234);
        }
      }
    }
  }
  .list {
    margin-top: 2rem;
  }
}
