.search-room-component {
  width: 72rem;
  margin-bottom: 2rem;
}
.fail-to-check {
  display: flex;
  justify-content: center;
  color: green;
  padding: 1rem;
}
.room-mobile-list {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid rgb(0, 174, 255);
  tbody,
  thead {
    tr {
      th {
        padding: 0.5rem;
        z-index: 5;
        background-color: rgb(80, 80, 255);
        color: white;
        border: 0.1rem solid rgb(0, 174, 255);
      }
      td {
        vertical-align: top;
        padding: 0.5rem;
        z-index: 5;
        background-color: rgb(255, 255, 255);
        border: 0.1rem solid rgb(0, 174, 255);
      }

      .title-table {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
          color: blue;
        }
      }
      .number-guest-table {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .price-table {
        display: flex;
        justify-content: center;
      }

      .body-reserve {
        display: flex;
        height: 60%;
        border-radius: 2rem;
        padding-bottom: 2rem;

        .choose-room {
          display: flex;
          flex-wrap: wrap;

          .check-room {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            margin-left: 2.5rem;
            input {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
      .checking-table {
        font-size: 1.8rem;
        border: none;
        font-weight: 700;
        color: white;
        background-color: rgb(0, 174, 255);
        width: 100%;
        padding: 0.5rem 0 0.5rem 0;
        border-radius: 0.3rem;
        cursor: pointer;
        &:hover {
          background-color: rgb(223, 223, 223);
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .search-room-component {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .fail-to-check {
    display: flex;
    justify-content: center;
    color: green;
    padding: 1rem;
  }

  .room-mobile-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    .room-mobile {
      width: 85%;
      border: 0.1rem solid rgb(206, 206, 206);
      box-shadow: 0 0 1rem 0.1rem rgb(212, 212, 212);
      background-color: white;
      padding: 2rem;

      .title-table {
        margin-bottom: 0rem;
        h3 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.8rem;
        }
      }
      .number-guest-table {
        display: flex;
        justify-content: space-between;
        .num-mobile {
          display: flex;
          gap: 1rem;
          align-items: center;
        }
        p {
          font-size: 2rem;
        }
      }
      .price-table {
        p {
          font-size: 2rem;
        }
        display: flex;
        gap: 0.5rem;
      }
      .body-reserve {
        p {
          font-size: 2rem;
        }
        .choose-room {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
          border: 0.1rem solid gray;
          height: 60%;

          .check-room {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            margin-left: 2rem;
            input {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
    .checking-table {
      font-size: 2rem;
      border: none;
      font-weight: 700;
      color: white;
      background-color: rgb(0, 174, 255);
      width: 90%;
      padding: 0.5rem 0 0.5rem 0;
      border-radius: 0.3rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(223, 223, 223);
      }
    }
  }
  table {
    display: none;
  }
}
