.navbar {
  display: flex;
  background-color: #003b95;
  justify-content: center;
  z-index: 9999px;

  .navContainer {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

    .logo {
      color: white;
      font-weight: 700;
      font-size: 26px;
      cursor: pointer;
    }

    .navItems {
      display: flex;
      gap: 10px;
      margin-left: 20px;

      .navButton {
        cursor: pointer;
        padding: 10px 20px;
        background-color: white;
        color: #003b95;
        font-weight: 500;
        border-radius: 10px;
        border-style: none;

        &:hover {
          background-color: #5f9bf5;
          color: white;
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      .btn {
        padding: 5px;
        border: none;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
      }
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid gold;
      }
      p {
        color: white;
        font-weight: bold;
      }
    }
  }
}
