.button-submit {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(48, 124, 255);
  }
}
