// Profile.scss
.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  .profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.6rem;
    width: 102.4rem;
    margin: 2rem;
    .profile-bia {
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgb(255, 102, 0),
        rgb(255, 164, 100)
      );
      height: 20vh;
      margin-right: 1.6rem;
      position: relative;
      display: flex;
      justify-content: center;
      .profile__info {
        position: absolute;
        bottom: -10rem;
        .profile__image {
          height: 10rem;
          width: 10rem;
          border-radius: 50%;
        }
        .profile__username {
        }
        .profile__email {
        }
        .profile__phone {
        }
      }
    }

    .profile-header {
      margin-top: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.5rem 0.2rem rgb(248, 248, 248);
      cursor: pointer;
      width: 100%;
      border: 0.1rem solid #eee;
      .profile-nav {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        padding: 1.5rem;

        h5 {
          overflow: hidden;
          width: 100%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        .last-nav {
          border: none;
        }
        .check {
          bottom: 0;
          position: absolute;
          width: 20rem;
          height: 0.3rem;
          background-color: aqua;
        }
      }
    }
    .profil-body {
      box-shadow: 0 0 0.5rem 0.2rem rgb(248, 248, 248);
      border-radius: 1.5rem;
      padding: 2rem;
      border: 0.1rem solid #eee;

      .profile-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .profile-name {
          padding: 2rem;
          display: flex;
          justify-content: space-between;
          border-bottom: 0.1rem solid rgb(199, 199, 199);
          align-items: center;
          .profile-text {
            width: 100%;
            display: flex;
            color: grey;
            gap: 2rem;

            p {
              display: flex;
              align-items: center;
              width: 50%;
              font-size: 1.4rem;
            }
            .profile-text-field {
              display: flex;
              align-items: center;
              gap: 2rem;
              width: 40%;
              overflow: visible;

              .text-child {
                width: 25%;
                font-size: 1.8rem;
              }
              input {
                width: 100%;
                outline: none;
                background-color: white;
                font-size: 1.8rem;
                border: none;
              }
            }
          }
          .profile-edit {
            display: flex;
            gap: 2rem;
            align-items: center;
            .edit-icon {
              font-size: 2.4rem;
              cursor: pointer;
              &:hover {
                color: rgb(4, 130, 133);
              }
            }
            button {
              color: rgb(255, 255, 255);
              background-color: rgb(0, 87, 88);
              border-radius: 0.5rem;
              border: none;
              font-weight: 700;
              padding: 0.5rem;
              padding-left: 1.5rem;
              padding-right: 1.5rem;
              cursor: pointer;
              &:hover {
                background-color: rgb(4, 130, 133);
              }
            }
          }
        }
      }
      .header-history {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 70vh;
        width: 100%;
        .no-booking {
          height: 70%;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h2 {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
          }
        }
        .order-list {
          margin: 1rem;
          padding: 2rem;
          height: 15vh;
          background-color: white;
          border: 0.1rem solid #eee;
          box-shadow: 0 0 1rem 0.2rem rgb(248, 248, 248);
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 1rem;
          .order-element {
            height: 8.5rem;
            width: 8.5rem;
            border-radius: 1rem;
            overflow: hidden;
            border: 0.2rem solid rgb(47, 130, 255);
            img {
              height: 100%;
              width: 100%;
            }
          }
          .hotel-title {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            padding-left: 1rem;
            border-left: 0.1rem solid gainsboro;
            p {
              font-size: 1.6rem;
            }
          }
          .check-date {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding-left: 1rem;
            border-left: 0.1rem solid gainsboro;
            .check-in {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                display: flex;
                gap: 0.5rem;
              }
              h5 {
                width: 50%;
              }
            }
          }
          .check-room {
            width: 15%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: 1rem;
            border-left: 0.1rem solid gainsboro;
            border-right: 0.1rem solid gainsboro;

            .room-no {
              display: flex;
              gap: 0.5rem;
              align-items: center;
              .list-room-no {
                display: flex;
                flex-wrap: wrap;
                gap: 0.3rem;
              }
            }
          }

          .check-detail-confirm {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin-right: 0.5rem;
            border-radius: 1.5rem;
            font-weight: 700;
            font-size: 1.4rem;
          }
          .check-detail-confirm-confirm {
            background-color: greenyellow;
            color: green;
          }
          .check-detail-confirm-uncomfirmed {
            background-color: rgb(194, 221, 255);
            color: blue;
          }
          .check-detail {
            display: flex;
            padding: 1rem;
            font-size: 1.4rem;
            background-color: aqua;
            border-radius: 0.5rem;
            border: none;
            align-items: center;
            padding-left: 1rem;

            gap: 0.5rem;
            cursor: pointer;
            .next {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
