.email {
  background-color: rgb(16, 16, 80);
  color: rgb(179, 179, 179);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 7rem;
  .email__text {
    font-weight: 200;
    .email__text--title {
      font-size: 2.2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email__box {
    display: flex;
    gap: 1rem;
    .email__box--input {
      height: 5rem;
      width: 40rem;
      background-color: white;
      border: none;
      border-radius: 0.5rem;
      font-weight: 500;
      font-size: 1.8rem;
      padding-left: 1rem;
    }
    .email__box--button {
      background-color: rgb(37, 37, 246);
      color: white;
      height: 5rem;
      width: 20rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 2.2rem;
      font-weight: 400;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        scale: 1.05;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .email {
    width: 100%;
    padding: 4rem 0rem;

    .email__text {
      font-weight: 500;
      margin-bottom: 2rem;
      .email__text--title {
        font-size: 2.2rem;
      }
    }
    .email__box {
      width: 80%;
      flex-direction: column;
      align-items: center;

      .email__box--input {
        height: 5rem;
        width: 100%;
        padding-left: 2rem;
      }
    }
  }
}
