.homeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  .textHome {
    width: 102.4rem;

    h1 {
      font-size: 2.4rem;
    }
  }

  .homeTiltles {
    width: 102.4rem;
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 650px) {
  .homeContainer {
    margin-top: 3rem;
    padding: 0rem;
    width: 100%;
    gap: 3rem;
    .textHome {
      width: 90%;
    }

    .homeTiltles {
      width: 90%;
      font-size: 2.4rem;
    }
  }
}
