.header {
  background-color: #003b95;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;

  .header-container {
    max-width: 1024px;
    width: 100%;
    margin: 20px 20px 100px 0px;
    .header-list {
      display: flex;
      gap: 40px;
      align-items: center;

      .header-list-item {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        &:hover {
          background-color: #1455b6;
          border-radius: 20px;
          overflow: hidden;
        }
      }
      .active {
        background-color: #1455b6;
        border: 1px solid white;
        border-radius: 20px;
      }
    }
    .text {
      margin-top: 60px;
      font-weight: 500;
      .title {
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 10px;
      }
      .content {
        font-size: 22px;
      }
    }
    .searchBar {
      display: flex;
      position: absolute;
      bottom: -25px;
      color: black;
      height: 50px;
      width: 100%;
      max-width: 1024px;
      padding: 5px;
      background-color: #ffb700;
      border-radius: 5px;
      gap: 5px;
      margin-top: 100px;
      .where {
        background-color: white;
        border-radius: inherit;
        display: flex;
        width: 35%;
        padding: 10px;
        align-items: center;
        box-sizing: border-box;
        z-index: 5px;

        &:hover {
          border: 1px solid rgb(255, 106, 0);
        }

        .input {
          border: none;
          padding: 10px;
          width: 250px;
          &:focus {
            outline: none;
          }
        }
        &:focus {
          outline: #ffb700;
        }
      }

      .date {
        border-radius: inherit;
        background-color: white;
        box-sizing: border-box;
        width: 30%;
        z-index: 5px;
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &:hover {
          border: 1px solid rgb(255, 106, 0);
        }

        .setDate {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
      .calendar {
        position: absolute;
        top: 65px;
        left: 35%;
        z-index: 2;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
      }
      .people {
        padding: 10px;
        display: flex;
        width: 25%;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        border-radius: inherit;
        cursor: pointer;
        &:hover {
          border: 1px solid rgb(255, 106, 0);
        }
        .setPeople {
          display: flex;
          gap: 5px;
        }
      }

      .options {
        background-color: white;
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        border-radius: 15px;
        font-weight: 500;
        box-shadow: 0 0 5px 1px rgba(222, 222, 222, 0.927);
        position: absolute;
        top: 65px;
        right: 70px;
        z-index: 9999;
        .options__option {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .options__element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .options__counter {
              border: 1px solid rgb(87, 87, 255);
              border-radius: 5px;
              width: 100px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .options__operator {
                padding: 5px 15px;
                cursor: pointer;
                &:hover {
                  background-color: rgb(183, 213, 255);
                }
              }
              .disabled {
                cursor: not-allowed;
              }
            }
          }
        }
        .options__button {
          display: flex;
          justify-content: center;
          padding: 10px 20px;
          background-color: white;
          border: none;
          border: 1px solid gray;
          border-radius: 5px;
          font-size: 18px;
          border: 1px solid rgb(87, 87, 255);
          font-weight: 600;
          cursor: pointer;
          &:hover {
            background-color: rgb(183, 213, 255);
          }
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(87, 87, 255);
        border: none;
        border-radius: inherit;
        font-size: 18px;
        width: 10%;
        box-sizing: border-box;
        z-index: 5px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          border: 1px solid rgb(255, 106, 0);
          scale: 1.02;
        }
      }
    }
  }
}
