.fBox {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  background-color: rgb(227, 236, 238);
  .footer {
    padding: 2rem;
    width: 100%;
    width: 102.4rem;
    font-size: 1.2rem;

    .fLists {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
      .fList {
        list-style: none;
        padding: 0;
        .fListItem {
          margin-bottom: 1rem;
          color: #003580;
          cursor: pointer;
          &:hover {
            color: rgb(247, 138, 22);
          }
        }
      }
    }
  }
}
